<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.mapper.CategoryMapper">
	<select id="getCategoryList" resultType="CategoryVO">
		select * from category order by catesort
	</select>
		
	<select id="getCategoryOne" resultType="CategoryVO">
		select * from category order by catesort where cateid=#{cateid}
	</select>
	
	<select id="getCategorySort" resultType="CategoryVO">
		select catesort from category
	</select>
	
	<select id="getCategoryName" resultType="CategoryVO">
		select catename from category 
	</select>
	
 	<insert id="insertCategory" parameterType="CategoryVO">
		insert into category(catesort, catename, cateauth, categroup) 
		values(#{catesort}, #{catename}, #{cateauth}, #{categroup});
	</insert>	

	<delete id="deleteCategory" parameterType="int">
		DELETE FROM category WHERE cateid = #{cateid}
	</delete>
	
	<select id="getOneCategoryName" resultType="CategoryVO" parameterType="Integer">
		select catename from category where cateid=#{cateid} 
	</select>
</mapper>
