<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.LoginMapper">

	
	<!-- 로그인 -->
	<select id="LoginCheck" parameterType="LoginVO" resultType="LoginVO">
		select memberid, nickname, stopflag from members where memberid = #{memberid} and password = #{password}
	</select>

</mapper> 