<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.mapper.NoticeMapper">
	
	<!-- 게시글은 쓴 사람의 아이디 구해야 한다. -->
	<select id="getBoardMemberid" parameterType="BoardVO" resultType="HashMap">
		select memberid from board where cateid = #{cateid} and b_num = #{b_num}
	</select>
	
	
	
	<!-- 방금 작성한 댓글 번호를 가져옴 -->
	<select id="getReplyNo" resultType="Integer">
	    select count(replynum) from reply;
	</select>
	
	
	<!-- 댓글을 쓰면 notice 테이블에 저장 -->
	<insert id="NoticeList">
		insert into notice (board_no, reply_no, memberid, another_memberid, read_check, regdate) 
			values (#{board_no}, #{reply_no}, #{memberid}, #{another_memberid}, #{read_check}, now());	
	</insert>
</mapper>