<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias type="com.shoppingmall.vo.MembersVO" alias="MembersVO"/>
		<typeAlias type="com.shoppingmall.vo.LoginVO" alias="LoginVO"/>
		<typeAlias type="com.shoppingmall.vo.CategoryVO" alias="CategoryVO"/>
		<typeAlias type="com.shoppingmall.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.shoppingmall.vo.VisitCountVO" alias="VisitCountVO"/>
		<typeAlias type="com.shoppingmall.vo.ReplyVO" alias="ReplyVO"/>
		<typeAlias type="com.shoppingmall.vo.ChattingBangVO" alias="ChattingBangVO"/>
		<typeAlias type="com.shoppingmall.vo.MainVO" alias="MainVO"/>
		<typeAlias type="com.shoppingmall.vo.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.shoppingmall.vo.Pagination" alias="Pagination"/>
	</typeAliases>
	
</configuration>